.grid-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-gap: 10px;
}
.bird-image {
    float: left;
}
.grid-item {
    border: none;
}
.note-bg{
    background: #243743;
    border-radius: 10px;
    padding: 10px 20px;
}
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .bird-image {
        float: none;
    }
}