table {
  border-collapse: collapse;
  border: transparent;
  width: 100%;;
}

td {
  border-bottom: 2px solid #4E4E4E;
  height: 4rem;

  //background: transparent;

}

th {
  background: #1D1E22;
  font-weight: bold;
  height: 2.5rem;
  cursor: pointer;
}

.sort-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;

}

.pg-button {
  background: linear-gradient(90.65deg, #FF0844 0%, #F8501D 100%);
  color: white;
  border: none;
  border-radius: 6px;
  height: 60px;
  width: 60px;
  font-weight: 700;
  margin: 0.5rem;
  font-size: 18px;
  box-shadow: 0 5px 0 0 #AB1313;
  cursor: pointer;
}
button :disabled{
  box-shadow: 0 5px 0 0 #483f3f;
  background: #4E4E4E !important;
}
.active{
  box-shadow: 0 5px 0 0 #483f3f;
  background: #4E4E4E !important;
}
//th:not(:first-child),
//td:not(:first-child) {
//    background-color: lightgray;
//}
