table {
    border-collapse: collapse;
    border: transparent;
    background: #3D3F47;
;
}
td{
    border: 2px solid #26272C;
    width: 10.625rem;
    height: 2.5rem;

}
td:first-child {
    background:#243743FF;
    font-weight: bold;
    width: 1rem;

}
th {
    background: #243743FF;
    font-weight: bold;
    border: 2px solid #26272C;
    width: 10.625rem;
    height: 2.5rem;
}

//th:not(:first-child),
//td:not(:first-child) {
//    background-color: lightgray;
//}