table {
    border-collapse: collapse;
}

th:first-child,
td:first-child {
    background-color: lightblue;
    font-weight: bold;
}

th:not(:first-child),
td:not(:first-child) {
    background-color: lightgray;
}